@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Caveat&family=Gloria+Hallelujah&family=Homemade+Apple&family=Kalam:wght@300&family=Poppins:wght@200;400&display=swap');

/* GERAL: */
* {
    margin: 0px;
    padding: 0px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 4em;
    font-family: 'Caveat', cursive;
    color: #170b0d;
    text-align: center;
}

p {
    text-align: center;
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
    color: rgb(34, 34, 34);
}

hr {
    background-color: #39210b; 
    height: 1px;
}

.container {
    margin-top: -15%;
    padding: 0% 5% 0% 5%;
}

.titulo-paragrafo {
    width: 50%;
    margin: 0% 10% 5% 0%;
    align-self: flex-end;
}

/* TELA INICIAL COMEÇA: */
.container-inicio {
    height: 95vh;
    background-color: #800404;

    justify-content: space-between;
}

#titulo-cafeteria {
    position: absolute;
    top: 5vh;
    left: 8%;

    color: white;
    font-family: 'Homemade Apple', cursive;
    font-size: 320%;
}

#div-texto-inicio {
    width: 30vw;

    display: flex;
    flex-direction: row-reverse;
}

#div-texto-inicio p {
    width: 70%;
    margin-top: 150px;

    color: white;

    text-align: right;
    font-size: 1.1em;
    font-family: 'Kalam', cursive;
}

#imagem-tela-inicial {
    right: 0px;
    height: 90%;
    width: 66vw;

    background-image: url(../../assets/imagem-com-sombra.png);
    background-size: cover;

    border-radius: 0px 0px 0px 10px;
}
/* TELA INICIAL TERMINA */

/* INTRODUÇÃO COMEÇA: */
#introducao {
    justify-content: space-between;
    margin-bottom: 3%;
}

#foto-cafe {
    height: 85vh;
    width: 25%;

    background-image: url(../../assets/bule_cafe_xicara-com-fundo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* INTRODUÇÃO TERMINA */

/* SOBRE COMEÇA: */
#sobre {
    margin: 8% 3% 8% 3%;
}


#foto-cafeteria-refeitorio {
    height: 300px;
    width: 40vw;
    border-radius: 15px;

    background-image: url(../../assets/area-refeicao-cafeteria.png);
    background-size: cover;
    background-repeat: no-repeat;
}
/* SOBRE TERMINA: */

/* CONTATE-NOS COMEÇA: */
#contate-nos {
    justify-content: space-around;
    margin: 5% 0% 5% 0%;
}

.hr-faixa {
    height: 13px;
    margin: 20px 0px 20px 0px;

    background-color:#9c762a;
    border-color: #a87a21;
    border-radius: 3px;
}

.imagem-cafe {
    width: 10%;
    height: 100px;

    background-image: url(../../assets/graos-cafe.webp);
    background-size: contain;
    background-repeat: no-repeat;
}

#cafe-esquerda {
    transform: scaleX(-1);
}

#cafe-direita {
    align-self: flex-end;
}

#inputs-contato input {
    width: 300px;
    padding: 8px;
    margin-bottom: 20px;

    border-radius: 5px;
    border-color: #9e6c3e6c;
}

/*div que é filha direta do contate-nos: */
#contate-nos > div {
    align-items: center;
}

#contate-nos h1 {
    font-size: 3em;
    margin-bottom: 15px;
}

#contate-nos label {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}



