* {
    margin: 0;
    padding: 0;
}

.body-content {
    background-color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.border{
    border-bottom: solid 2px;
    border-color: rgb(155, 114, 114);
    border-radius: 4px;
}

/* -----MENU INTERNO COMEÇA AQUI----- */
#container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 70vw;
    height: 250px;
}

.direcionador {
    width: 300px;
    height: 75px;
    margin: 17vh 5vw 10vh 5vw;
    border-radius: 4px;
    font-size: 23px;
    background-color: rgb(223, 177, 117);
    
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.direcionador:hover {
    background-color: rgb(238, 195, 138);
    opacity: 1.5;
    cursor: pointer;
}

#teste {
    background-color: rgba(114, 54, 54, 0);
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
}
/* -----MENU INTERNO ACABA AQUI----- */

/* -----CORPO DA PÁGINA COMEÇA AQUI----- */
#conteudo {
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    width: 70vw;
    height: 300px;
    color: brown;
}

#valor {
    width: 14vw;
    height: 85px;

    color: brown;
    border: solid 2px;
    border-color:brown;
    border-radius: 4px;

    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
}

#melhores-cardapio {
    display: flex;
    flex-direction: column;
}

#promocoes {
    display: none;
    flex-direction: column;
}

#cor-descricao {
    color: black;
}

#border-img{
    border: solid 2px;
    border-color:brown;
    border-radius: 4px;
}
/* -----CORPO DA PÁGINA TERMINA AQUI----- */


