@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@300&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');

/* FOOTER COMEÇA AQUI */
footer{
    margin-top: 8vh;
    padding-top: 4%;
    width: 100%;
    height: 250px;

    background-color: #39231b;
}

.div-footer{
    border-top: solid 2px;
    border-color: #946737;

    width: 100%;
    height: 200px;
    position: static;
    bottom: 0;   

    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: row;
    display: flex; 
}

.info-footer{
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    display: flex; 

    color: white;
}

.titulo-info{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 4px;
    border-color: #946737;

    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 1em;
}

.conteudo-info{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size:small;
}