/* CSS PARA A BARRA DE SCROLL */
html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 28.1vh;
}

::-webkit-scrollbar {
    width: 9px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #3d2c25;
    border-radius: 10px;
}